@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../node_modules/react-modal-video/css/modal-video.min.css';

@font-face {
  font-family: 'MontHeavy';
  src: local('MontHeavy'),
    url('./assets/fonts/Mont/Mont-Heavy.otf') format('truetype');
}

@font-face {
  font-family: 'MontLight';
  src: local('MontLight'),
    url('./assets/fonts/Mont/Mont-ExtraLight.otf') format('truetype');
}

@font-face {
  font-family: 'MontRegular';
  src: local('MontRegular'),
    url('./assets/fonts/Mont/Mont-Regular.otf') format('truetype');
}

/* Dropdown Menu */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Navbar scoll classes */
.nav-scrolled {
  background-color: white;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  /* border-bottom: 1px solid lightgray; */
}

/* Navbar 4Area Text */
.four-areas {
  letter-spacing: 0.25em;
}

.background-image {
  background-image: url('./assets//img/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}
