@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../node_modules/react-modal-video/css/modal-video.min.css';

@font-face {
  font-family: 'MontHeavy';
  src: local('MontHeavy'),
    url('./assets/fonts/Mont/Mont-Heavy.otf') format('truetype');
}

@font-face {
  font-family: 'MontLight';
  src: local('MontLight'),
    url('./assets/fonts/Mont/Mont-ExtraLight.otf') format('truetype');
}

@font-face {
  font-family: 'MontRegular';
  src: local('MontRegular'),
    url('./assets/fonts/Mont/Mont-Regular.otf') format('truetype');
}
