@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../node_modules/react-modal-video/css/modal-video.min.css';

@font-face {
  font-family: 'MontHeavy';
  src: local('MontHeavy'),
    url('./assets/fonts/Mont/Mont-Heavy.otf') format('truetype');
}

@font-face {
  font-family: 'MontLight';
  src: local('MontLight'),
    url('./assets/fonts/Mont/Mont-ExtraLight.otf') format('truetype');
}

@font-face {
  font-family: 'MontRegular';
  src: local('MontRegular'),
    url('./assets/fonts/Mont/Mont-Regular.otf') format('truetype');
}

/* CUSTOM CLASSES HERE */

/* Dropdown Menu */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* NavBar Functionality */
.nav-scrolled {
  background-color: white;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.logo-not-scrolled {
  height: 65px;
  width: 65px;
  margin: 3px;
  margin-right: 20px;
}

.logo-scrolled {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}
